@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTU1MTY2NC1wcmFrYXNoazpISXpTS1U2ZlN4VnBKcmJYRHhiNHRoUjdsd2VaVnEwcA==
always-auth=true

